* {
    cursor: url(images/Green_Cursor.png), pointer;
}

body {
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: rgb(235, 240, 243);
}

[SRC] {
    display: block;
    margin: 3px;
    border-radius: 15px;
}

header {
    background: linear-gradient(to right, #2665c5, #88919E);
    margin: 1px;
    color:rgb(179, 197, 207);
    padding: 0px;
    border-style: inset;
    text-indent: 3%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bubbles {
    margin: 30;
    text-align: center;
    font-size: larger;
    background-color: #698cbd;
    border-radius: 15px;
    border-style: solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragraph {
    background-color: #9ebfec;
    border-style:solid;
    border-color: #c2c6cc;
    border-radius: 3px;
    margin: 1px;
    margin: 20px;
    font-size: 25;
    font-family: Arial, Helvetica, sans-serif;
}

#picture {
    display: block;
    margin: 20px;
    background-color: #88919E;
    border-radius: 15px;
    border-style: solid;
    width: fit-content;
    border-color: white;
}

.font1 {
    margin: 20px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.indent {
    background-color: #d7dadd;
    border-radius: 5px;
    margin: 20px;
    font-size: 22px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}